/**
 * QuickTags front/back-end CSS
 */

#qt_addTags{
	border: 1px solid silver;
	border-radius: 3px;
	background: inherit;
	height: 23px;
	font-size: 12px;
}

.qt_postTags{
	margin-top: 10px;
 line-height: 1.4em;
}

.qt_postTag{
	padding: 3px;
	border: 1px solid silver;
	border-radius: 3px;
 margin: 3px;
	float: left;
}

span.qt_postTag:hover{
	background: #EEE;
	cursor: pointer;
}

.removeTag{
	vertical-align: text-middle;
	height: 11px;
}